/*index.html*/

.indexhtml{
    background-color: rgb(87, 86, 86);
    flex-direction: column;
}

head{
    border: 2px sold black;
    justify-content: center;
    margin-bottom: 200px;
}


h1{
    font-size: 50px;
}

h3{
    font-size: 25px;
}



main{
    display: flex;
    gap: 20px;
}


img{
    width: 800px;
    height: 500px;
    border: 2px solid black;

}


















































/*card1.html*/

body{
    background-color: #3d3b3b;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card1{
    box-sizing: border-box;
    height: 246px;
    width: 309px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
} 


.head{
    position: absolute;
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    
}


.h1c1{
    width: 174px;
    height: 71px;
    font-size: 25px;
    color: white;



}


.h3c1{
    width: 174px;
    height: 32px;
    font-size: 11px;
    color: white;

}

.b1{
    width: 71px;
    height: 24px;
    border-radius: 24px;
    margin-top: 100px;
    background-color: black;
    color: white;
}

.img1{
    position: relative;
    width:  309px;
    height:  246px;
    opacity: 50%;
}









/*card2.html*/



body{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card2{
    box-sizing: border-box;
    height: 240px;
    width: 302px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
} 


.h1c2{
    color: white;
    width: 224px;
    height: 40px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 500px;
}


.h3c2{
    color: white;
    width: 89px;
    height: 18px;
    margin-left: 90px;
    font-size: 10px;
}

.head2{
    position: absolute;
    justify-content: center;
}

.immg2{
    width: 42px;
    height: 42px;
    margin-left: 97px;
    border-radius: 20px;
    border: 1px solid #0882E0;
}

.img2{
    position: relative;
    width: 302px;
    height: 240px;
    opacity: 50%;
}








/*card3.html*/

body{
    background-color: #3d3b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card3{
    box-sizing: border-box;
    height: 125px;
    width: 379px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.5);
} 


.h1c3{
    width: 136px;
    height: 22px;
    font-size: 15px;
}


.h3c3{
    width: 230px;
    height: 23px;
    font-size: 9px;
}


.buttn{
    display: flex;
    gap: 3px;
}


.b3{
    width: 89px;
    height: 26px;
    border-radius: 2px;
    font-size: 8px;
    border: 1px;
    background-color: #00AEFF;
}


.b3c3{
    width: 89px;
    height: 26px;
    border-radius: 2px;
    font-size: 8px;
    border: 1px solid #1A2B49;

}


.img3{
    width: 57px;
    height: 57px;
    margin-right: 20px;
}
















